#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    background-color: #835afd;
    color: #fff;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.25rem "Poppins", sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      margin-top: 1rem;

      font-size: 1.5rem;
      line-height: 2rem;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 2rem;
  }
}

.main-content {
  width: 100%;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;

  > img {
    align-self: center;
  }

  h2 {
    margin: 4rem 0 1.5rem;

    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }

  form {
    input {
      height: 3.125rem;
      padding: 0 1rem;

      background-color: #fff;

      border: 1px solid #a8a8b3;
      border-radius: 0.5rem;
    }

    button {
      margin-top: 1rem;
    }

    button,
    input {
      width: 100%;
    }
  }

  p {
    margin-top: 1rem;

    font-size: 0.875rem;
    color: #737380;

    a {
      color: #e559f9;
    }
  }
}

.create-room {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.125rem;
  margin-top: 4rem;

  cursor: pointer;
  font-weight: 500;

  border-radius: 0.5rem;
  border: 0;
  background-color: #ea4335;
  color: #fff;

  transition: filter 0.2s;

  img {
    margin-right: 0.5rem;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.separator {
  display: flex;
  align-items: center;

  margin: 2rem 0;

  font-size: 0.875rem;
  color: #a8a8b3;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    margin-right: 1rem;
    background-color: #a8a8b3;
  }

  &::after {
    content: "";
    flex: 1;
    height: 1px;
    margin-left: 1rem;
    background-color: #a8a8b3;
  }
}
